In [8]:
import pymongo as mg
import pandas as pd

In [9]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [10]:
database = client['db_NHIS'] #Database 선택

In [11]:
collection = database['Join Collection NSC2_BND_M20']

In [13]:
cursor = collection.find({"SICK_SYM1":"I10"})

In [14]:
list_I10 = list(cursor) # casting

In [15]:
df_I10 = pd.DataFrame(list_I10)

In [16]:
df_I10[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,MCARE_SUBJ_CD,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,COD2
0,64e6bbca5b6c745c7e44d6dd,646257,1921LE,200805.0,A15-A19,2002070306096,57097,20020710,3,1,...,1,1,30,5.0,0.15,7570,3000,4570,2002,NaN
1,64e6bbca5b6c745c7e44d6e2,646257,1921LE,200805.0,A15-A19,2002080588993,57097,20020805,3,1,...,2,2,60,5.0,0.15,18160,6000,12160,2002,NaN

In [17]:
df_I10.columns

Index(['_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1', 'RN_KEY', 'RN_INST',
       'MDCARE_STRT_DT', 'FORM_CD', 'MCARE_SUBJ_CD', 'SICK_SYM1', 'OFIJ_TYPE',
       'OPRTN_YN', 'MDCARE_DD_CNT', 'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT',
       'MCARE_RSLT_TYPE', 'EDC_ADD_RT', 'ED_RC_TOT_AMT', 'EDC_SBA',
       'EDC_INSUR_BRDN_AMT', 'STD_YYYY', 'COD2'],
      dtype='object')

In [20]:
df_I10 = df_I10[['ED_RC_TOT_AMT','MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE','EDC_SBA','BTH_YYYY']] # 목적/선택변수 선택 
df_I10[:2]

   ED_RC_TOT_AMT  MCARE_SUBJ_CD  OPRTN_YN  MCARE_RSLT_TYPE  EDC_SBA BTH_YYYY
0           7570              1         0              5.0     3000   1921LE
1          18160              1         0              5.0     6000   1921LE

In [21]:
df_I10.to_csv('../../dataset/Join Collection NSC2_BND_M20.csv') #저장