## DDA 분석 
'ED_RC_TOT_AMT','MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE','EDC_SBA','BTH_YYYY'
- 목표 변수 : ED_RC_TOT_AMT(심결요양급여비용총액)
- 설명변수 : 'MCARE_SUBJ_CD'(진료과목코드),'OPRTN_YN'(수술여부),'MCARE_RSLT_TYPE'(진료결과구분),'EDC_SBA'(심결본인부담금),'BTH_YYYY'(출생년도)

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl 
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df_I10 = pd.read_csv('../../../dataset/Join Collection NSC2_BND_M20.csv')

In [3]:
df_I10.isnull().sum()

Unnamed: 0           0
ED_RC_TOT_AMT        0
MCARE_SUBJ_CD        0
OPRTN_YN             0
MCARE_RSLT_TYPE    424
EDC_SBA              0
BTH_YYYY             0
dtype: int64

In [4]:
len(df_I10)

4629

In [6]:
df_I10 = df_I10.dropna()

### 데이터 기본 정보 확인
- 데이터 타입 
    - 수치형 : ED_RC_TOT_AMT','MCARE_SUBJ_CD','OPRTN_YN','EDC_SBA','BTH_YYYY'
    - 범주형 : 'MCARE_RSLT_TYPE'(진료결과구분)

In [7]:
df_I10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4205 entries, 0 to 4628
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       4205 non-null   int64
 1   ED_RC_TOT_AMT    4205 non-null   int64
 2   MCARE_SUBJ_CD    4205 non-null   int64
 3   OPRTN_YN         4205 non-null   int64
 4   MCARE_RSLT_TYPE  4205 non-null   float64
 5   EDC_SBA          4205 non-null   int64
 6   BTH_YYYY         4205 non-null   object
dtypes: float64(1), int64(5), object(1)
memory usage: 262.8+ KB

In [14]:
#df_I10.describe()[:2] # 연속형
df_I10.describe(include=object)[:2] # 범주형

## 데이터 확인결과 : BTH_YYYY(출생년도)는 범주형이 아닌 숫자형 데이터로 사용해야 할 듯함.

       BTH_YYYY
count      4205
unique       63

In [13]:
df_I10['BTH_YYYY'].value_counts()

1940    236
1968    231
2001    223
1969    218
2002    177
       ...
1941      2
1934      2
1970      1
1999      1
1953      1
Name: BTH_YYYY, Length: 63, dtype: int64

In [16]:
df_I10['MCARE_SUBJ_CD'].value_counts()

## 범주형으로 봐서 상위 또는 하위를 보면 좋을듯 함.

1     3866
23     160
5       86
2       29
6       19
19      19
21      15
3        5
4        3
24       3
Name: MCARE_SUBJ_CD, dtype: int64