In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [3]:
df_JCN = pd.read_csv('../../../dataset/Join Collection NSC2_BND_M20.csv')
df_JCN.head(2)

,Unnamed: 0,ED_RC_TOT_AMT,MCARE_SUBJ_CD,OPRTN_YN,MCARE_RSLT_TYPE,EDC_SBA,BTH_YYYY
0,0,7570,1,0,5.0,3000,1921LE
1,1,18160,1,0,5.0,6000,1921LE

In [24]:
df_JCN.columns

Index(['Unnamed: 0', 'ED_RC_TOT_AMT', 'MCARE_SUBJ_CD', 'OPRTN_YN',
       'MCARE_RSLT_TYPE', 'EDC_SBA', 'BTH_YYYY'],
      dtype='object')

In [25]:
df_JCN.isnull().sum()

Unnamed: 0           0
ED_RC_TOT_AMT        0
MCARE_SUBJ_CD        0
OPRTN_YN             0
MCARE_RSLT_TYPE    424
EDC_SBA              0
BTH_YYYY             0
dtype: int64

In [26]:
df_JCN = df_JCN.dropna()

In [27]:
df_JCN.isnull().sum()

Unnamed: 0         0
ED_RC_TOT_AMT      0
MCARE_SUBJ_CD      0
OPRTN_YN           0
MCARE_RSLT_TYPE    0
EDC_SBA            0
BTH_YYYY           0
dtype: int64

### 분석 맡은 컬럼 추출

In [5]:
df_JCN_SKY = df_JCN[['ED_RC_TOT_AMT','MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE']]
df_JCN_SKY[:2]

   ED_RC_TOT_AMT  MCARE_SUBJ_CD  OPRTN_YN  MCARE_RSLT_TYPE
0           7570              1         0              5.0
1          18160              1         0              5.0

In [6]:
df_JCN_SKY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4629 entries, 0 to 4628
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ED_RC_TOT_AMT    4629 non-null   int64
 1   MCARE_SUBJ_CD    4629 non-null   int64
 2   OPRTN_YN         4629 non-null   int64
 3   MCARE_RSLT_TYPE  4205 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 144.8 KB

In [7]:
df_JCN_SKY.describe()

       ED_RC_TOT_AMT  MCARE_SUBJ_CD     OPRTN_YN  MCARE_RSLT_TYPE
count   4.629000e+03    4629.000000  4629.000000      4205.000000
mean    1.569900e+04       1.929574     0.005833         1.899168
std     5.979246e+04       4.398206     0.229069         1.752071
min     0.000000e+00       0.000000     0.000000         1.000000
25%     8.780000e+03       1.000000     0.000000         1.000000
50%     1.007000e+04       1.000000     0.000000         1.000000
75%     1.169000e+04       1.000000     0.000000         1.000000
max     2.138690e+06      24.000000     9.000000         9.000000

In [10]:
df_JCN_SKY[['ED_RC_TOT_AMT']].value_counts()

ED_RC_TOT_AMT
10070            317
10360            306
9860             298
9590             211
9380             149
                ...
18130              1
18160              1
18180              1
18220              1
2138690            1
Length: 867, dtype: int64

In [11]:
df_JCN_SKY[['MCARE_SUBJ_CD']].value_counts()
#진료과목코드

MCARE_SUBJ_CD
1                3875
0                 415
23                160
5                  86
2                  29
6                  19
19                 19
21                 15
3                   5
4                   3
24                  3
dtype: int64

In [12]:
df_JCN_SKY[['OPRTN_YN']].value_counts()
#수술여부

OPRTN_YN
0           4626
9              3
dtype: int64

In [13]:
df_JCN_SKY[['MCARE_RSLT_TYPE']].value_counts()
# 진료결과구분

MCARE_RSLT_TYPE
1.0                3296
5.0                 871
9.0                  37
2.0                   1
dtype: int64

In [14]:
df_JCN_SKY[['MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE']] = df_JCN_SKY[['MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE']].astype(str)

C:\Users\01-09\AppData\Local\Temp\ipykernel_5388\2275312239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_JCN_SKY[['MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE']] = df_JCN_SKY[['MCARE_SUBJ_CD','OPRTN_YN','MCARE_RSLT_TYPE']].astype(str)

In [15]:
df_JCN_SKY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4629 entries, 0 to 4628
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ED_RC_TOT_AMT    4629 non-null   int64
 1   MCARE_SUBJ_CD    4629 non-null   object
 2   OPRTN_YN         4629 non-null   object
 3   MCARE_RSLT_TYPE  4629 non-null   object
dtypes: int64(1), object(3)
memory usage: 144.8+ KB